:root {
  --main-color: #cfdae2;
  --border-color: #afbbc3;
  --active-color: #d9ffd6;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3a3a3a;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.header__title {
  margin-top: 30px;
  text-align: center;
}

.header__textarea {
  display: block;
  width: 96%;
  height: 200px;
  margin: 30px auto 30px;
  padding: 10px;
  font-size: 18px;
  color: #444444;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid var(--border-color);
  outline: none;
  resize: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  padding: 10px;
  background: var(--main-color);
  border-bottom: 3px solid var(--border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.keyboard__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.keyboard__key {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  border-bottom: 3px solid var(--border-color);
  background: #fff;
  padding: 5px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  transition: all 0.05s;
}

.backspace,
.tab {
  width: 63px;
}

.capslock,
.enter {
  width: 75px;
}

.shift {
  width: 100px;
}

.space {
  width: 322px;
}

.metaleft,
.backspace {
  display: flex;
  align-items: center;
  justify-content: center;
}

.metaleft__img,
.backspace__img {
  width: 44%;
}

.arrows {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrowup,
.arrowdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-bottom: 3px solid var(--border-color);
  padding: 1px 5px;
  border-radius: 0;
}

.arrowup {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.arrowdown {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer {
  margin-top: 30px;
}

.footer__text {
  text-align: center;
}

.keyboard__key_active {
  border-bottom: 0px solid var(--border-color);
  background: var(--active-color);
}

/* @media (hover: hover) {
  .keyboard__key:hover {
    background: #e0e3e8;
  }
} */
